* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.button__start {
  display: inline-block;
}

.button {
  min-width: 200px;
  padding: 20px;
}

.mainContainer {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: grey;
}

.mainContainer > .atmContainer {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: grey;
  min-height: 200px;
}

.mainContainer > .atmContainer > .atm {
  display: flex;
  width: 25%;
  min-height: 40px;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  background-color: green;
  border: 2px solid black;
  padding: 10px;
}

.mainContainer > .atmContainer > .atm > * {
  width: 100%;
  text-align: center;
  padding: 3px;
}
.mainContainer > .atmContainer > .atm > .clientAtAtm {
  width: 50%;
  background-color: transparent;
  height: 60px;
}

.queue {
  width: 10%;
  min-height: 600px;
}

.queue > .queueContainer {
  width: 100%;
}

.queue > #queueContainer > div {
  height: 60px;
  margin-bottom: 20px;
  background-color: black;
}
