<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link rel="stylesheet" href="styles/main.css" />
  </head>
  <body>
    <form action="">
      <button id="testButton" class="button">Render Atm</button>
      <button id="queuetestButton" class="button">Render Queue</button>
      <button id="startButton" class="button">Start Working</button>
      <div>
        <h3>Atm# 1 </h3>
        <label for="Name">Name</label>
        <input value type="text"></input>
        </br>
        <label for="ServiceTime">ServiceTime</label>
        <input type="text"></input>
      </div>
      <input value="+" type="button"></input>
    </form>
    <div class="mainContainer">
      <div class="atmContainer"></div>
      <div id="queue" class="queue"></div>
    </div>

    <script src="js/eventEmmiter.js"></script>
    <script src="js/atm.js"></script>
    <script src="js/queue.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
